.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
header{
  background-color: rgb(150, 245, 158);
}
menu{
  background-color: rgb(152, 243, 238);
}

button{
   cursor: pointer;
   width: 100px;
   height: 30px;
  margin-right: 20px;
}